﻿@model BooksApi.Models.CustomerWithOrders
@using System.Globalization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cart Items</title>
</head>
<body>
    <table>
        <tr>
            Your cart items are waiting for you
        </tr>
        <tr>
            <th>Code</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total price</th>
        </tr>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td>
                    @order.Book.Isbn
                </td>
                <td>
                    @order.Book.Title
                </td>
                <td>
                    @order.Quantity
                </td>
                <td>
                    @order.Book.Price
                </td>
                <td>
                    @((order.Book.Price * order.Quantity).ToString("C", new CultureInfo("sr-RS")))
                </td>
            </tr>
        }
    </table>
</body>
</html>